@import "antd/dist/antd.css";
.forgotpasswordcontainer {
  max-width: 400px;
  width: 100%;
  margin:auto;
}
 
.forgotpasswordform1{ 
  height:50px;
} 

.forgotpasswordbutton1{
  width:100%;
} 

.forgotpasswordlogo1 {
  text-align: center;
  padding-bottom: 0px;
}

.forgotpasswordborder1{
  width: 650px;
  height: 700px;
  background: #e8eaed;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  margin: 50px auto;
}  

.forgotpasswordfont1{
  font-size:16px; 
  text-align: center;
} 

.forgotpasswordfont2{
  text-align: center; 
  font-size:25px;
}
