

/* avatar */
.avatar1 {
    margin-top:20px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
}

/* control font of all text elements */
.textfont1{
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
}

/* guide text */
.text1{
    margin-top:10px;
    text-align: center;
    margin-bottom:10px;
}
/* text content inside list */
.text2{
    padding-left:5px;
}

/* user agreement */
.custext1{
    position: relative;
    box-sizing: content-box;
    width: 300px;
    height: 30px;
    text-align: center;
    padding: 10px 10px 25px 10px;
    border: 1px solid blue;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* userinfo grid  */
.userinfogrid1{
    padding-left:10px;
    grid-column: 2;
    grid-row: 1;
}
/* ------------------------------------------------------------------------------------ */

/* used storage progress bar */
.usedstoragegrid1{
    position: relative;
    display: grid;
    grid-template-columns: 25% 110px;
    grid-template-rows: 100%;
}
/* used storage title */
.ubox1{
    grid-column: 2;
    grid-row: 1;
}
/* used storage bar */
.ubox2{
    transform: scaleY(1.3);
    max-width: 63%;
    grid-column: 3;
    grid-row: 1;
}

/* ------------------------------------------------------------------------------------ */
/* username and email grid */
.userNameandEmail{
    position: relative;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 50% 25% 25%;
}
/* username */
.usernamegrid1{
    grid-column: 2;
    grid-row: 1;
}
/* email */
.emailgrid1{
    grid-column: 2;
    grid-row: 2;
}

/* ------------------------------------------------------------------------------------ */

.userinfoborder1{
    position: relative;
    display:grid;
    grid-template-columns: 25% 50% 25%;
    height:300px;
}

/* button */
.agreeandupdatebutton{
    display: block;
    margin-left: auto;
    margin-right: auto;
}