.imageInfos {
    position: absolute;
    z-index: 2500;
}

.list1{
    overflow-y: scroll; 
    padding-left: 5px;
    width:105%; 
    height:75vh;
}

.fontinf {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 100;
} 
.cont1 {
    padding-left:10px;
} 

.tag1 { 
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color:grey;
    color: white;
    border-radius:5px; 
    
}

.btn1{
    position: relative;
    z-index: 1234523415;
}