/* .modal1 {
    position: absolute; 
    right:0%;
    top:0%;
    max-width:300px;
}  */

.list1{ 
    overflow-y: scroll; 
    padding-left: 5px;
    width:105%; 
    height:75vh;
}
/* @media only screen and (max-width: 600px), screen and (max-height: 500px) {
    .list1 { 
        background-color: blue; 
        width:100%;
    }
    .modal1{
        position: absolute;  
        min-height:100%;
        min-width:100%;
    }
} */

.fontinf {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 100;
} 
.cont1 {
    padding-left:10px;
} 

.tag1 { 
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color:grey;
    color: white;
    border-radius:5px; 
    
}

.btn1{
    position: relative;

}