.logo {
    height: 7vh;
    align-content: center;
    margin-right: 5%;
}

.mainLogo {
    max-width: 100%;
    max-height: 100%;
}

.mainLogo:hover {
    cursor: pointer;
}

.appBar {
    display: flex;
    justify-content: space-between;
}

.something {
    position: fixed;
}

.appLayoutFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
}