.logo {
    height: 80px;
    margin: 16px;
    align-content: center;
}

img {
    margin-left: 16px;
    max-width: 100%;
    max-height: 100%;
}

.site-layout-sub-header-background {
    background: #fff;
}

.site-layout-background {
    background: #fff;
    /*height: 100vh*/
}